<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% unless flash[:notice].blank? %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% unless flash[:alert].blank? %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
